$bgColor: #FFFFFF;
$textColor: #1F2CA1;
$colorSecond: #0E2861; 
$fontFamily: "Roboto" , Georgia, 'Times New Roman', Times, serif;
$biColor: linear-gradient(to right, #0E2861, #1749a5, #2E55C9);
$linkAColor: rgba(14,40,97, 0.7);
$linkColor__Second: rgba(14,40,97, 0.5);
