$bgColor: #FFFFFF;
$textColor: #1F2CA1;
$fontFamily: Georgia, 'Times New Roman', Times, serif;



body {
background-color: $bgColor;
color: $textColor;
font-size: $fontFamily;
}


.footer{
    margin: 50px 20px 10px 20px ;
    background-color: #FFFFFF;
    text-align: right;

.footer__ul{
    list-style: none;
    padding-top: 18px;

    li{
    list-style: none;
    display: inline-block;
    border: none;
    background-color: $bgColor;
    padding: 4px 8px 4px 8px;
    font-size: 1.4rem;
    font-weight: bold;
}
}
}