.contacto{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: $bgColor;
    background-image: $biColor;
    word-spacing: 2.5px;
    line-height: 3rem; 
    text-indent: 2rem;
    margin: 35px;
    padding: 20px 20px 20px 20px;
}

.formulario{
    font-size: 1.5rem;
    color: $bgColor;
    background-image: $biColor;
    word-spacing: 2px;
    line-height: 2rem; 
    margin: 30px;
    padding: 20px 20px 20px 20px;
}

.form-group{
    margin: 5px;
}

.form-control{
    width: 400px;
}



