@media screen and (min-width: 600px) and (max-width: 1024px) {
    .imagenes{
        display: grid;
        grid-column: auto;
        justify-content: center;
    }
    
    .articulos{
        display: grid;
        grid-column: auto;
        justify-content: center;
    }
    
    #cuerpo{
        padding-top: 110px;
    }
    
}

@media screen and (max-width: 600px) {
    
    .encabezado{
        background-color: $bgColor ;
        position:relative;
        width: 100%;
        display: flex;
        padding: 0;
    }
    
    .rj45{
        display: flex;
        width: 100px;
        height: 80px;
    }
    
    .imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .presentacion__imagen__telecomunicaciones{
        float: right;
        width: 70%;
        margin: 0px; 
    }
    
    .articulos{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .articulos__video--Telecomunicaciones{
        padding: 1px 10px 5px 1px;
        justify-content: center;
        align-content: center;
        margin-left: 20px;
    }
    
    .articulos__video--Camaras{
        padding: 1px 15px 5px 1px;
        justify-content: center;
        align-content: center;
        margin-left: 20px;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
    }

    .ubicacion{
        width: 80%; 

    }

    #cuerpo{
        padding-top: 0px;
    } 

    .carousel-caption {
        background-color:  $linkColor__Second;
        padding: 20px;
        margin: 20px 0 0 0 ;
        font-size: 0.7rem;
        justify-content: space-around;
    }

    .h3 {
        font-size: 0.9rem;
    }
    .carousel-inner img {
        width: 50%;
        margin: auto;
        
    }
    
    
    .serviciosI{
        padding-bottom: 30px;
    
    }
    .marcasI{ 
        background-color:  $linkColor__Second;
        margin-right: 43%;
        margin-left: 43%;
        margin-bottom: -30px;
        margin-top: 15px;
    }
    
    .carousel-control-prev{
        background-color:  $linkColor__Second;
        margin:40px 20px 40px 15px;
        padding: 10px 10px 10px 10px;
    
    }
    
    .carousel-control-next{
        background-color:  $linkColor__Second;
        margin:40px 20px 40px 15px;
        padding: 10px 10px 10px 10px;
    } 

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin-left: 15%;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin-left: 15%;
    }

    .obras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin-left: 15%;
    }

    .form-control{
        width: 100%;
    }

}